* {
  margin: 0;
  padding: 0;
}

/* Adding background color to body and some border as well */
body {
  background: #f9d5bb;
  padding: 1rem;
  text-align: center;
}

/* Light red color */
.light {
  background: #f66767;
}

/* Dark red color */
.dark {
  background: #be4f4f;
}

/* color and size of the numbers */
.item {
  color: #3c3d47;
  font-size: 6rem;
}

/* Main Container */
.container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
  border: 5px solid #3c3d47;
}

.three {
  justify-self: center;
  align-self: center;
}
